Ici on la dépendance des differentes fonction entre elles:

- la fonction maze.py est celle qui génère le labyrinthe et autres conraintes.
- la fonction bfs.py dépend de la fonction maze.py et excute son type d'algorithme de recherche.
- la fonction dfs.py dépend de la fonction maze.py et excute son type d'algorithme de recherche.
- la fonction astar.py dépend de la fonction maze.py et excute son type d'algorithme de recherche.

- la fonction main.py dépend des fonctions maze.py, bfs.py, dfs.py et astar.py et s'excute afin de
produire les resultats attendus.


Des option ont été implémetés juste pour rendre plus visible les solution.